/* * universal selector => lowest priority */
* {
  /* border-top: 10px solid #00591bcf; */
}

body {
  color: #444;
  font-family: sans-serif;
  border-top: 10px solid #00591bcf;
}

h1,
h2,
h3 {
  color: #00591bcf;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 20px;

  text-transform: uppercase;
  text-align: center;
}
p {
  font-size: 22px;

  line-height: 1.5;
}
li {
  font-size: 20px;
}
/* footer p {
  font-size: 14px;
} */
#copyright {
  font-size: 14px;
}
/* article header p{
  font-style: italic;
} */
#author {
  font-style: italic;
  font-size: 18px;
}
.related-author {
  font-size: 18px;
  font-weight: bold;
}
.related-posts {
  list-style: none;
}
.reasons-list {
  list-style-type: circle;
}
.main-header {
  background-color: #f1fcf1;
}
aside {
  background-color: #f1fcf1;
  border-top: 5px solid #00591bcf;
  border-bottom: 5px solid #00591bcf;
}
body {
  background-color: #c9fdd531;
}

/* .first-li {
  font-weight: bold;
} */
/* better solution */
/* li:first-child {
  font-weight: bold;
}
li:last-child {
  font-style: italic;
} */
/* specific child */
/* li:nth-child(2) {
   color: rebeccapurple; 
} */
/* p:first childe not work, first is header */
/* article p:first-child {
  color: red;
} */

/* *Styling elements */
a:link {
  color: #00591bcf;
  /* *Remove underline */
  text-decoration: none;
}
/* *anchor visited */
a:visited {
  color: #00591bcf;
}
/* * HOVER */
a:hover {
  color: red;
  font-weight: bold;
  text-decoration: underline chartreuse;
}
/* *Clicked element */
a:active {
  background-color: black;
  font-style: italic;
}
/* nav a:link{
  font-size: 18px;
} */
nav {
  font-size: 18px;
}
